<%= link_to 'Back', projects_path %>

<h1>View Project</h1>

<p>
	<strong>Project Name:</strong>
	<%= @project.name %>
</p>

<p>
	<strong>Description:</strong>
	<%= @project.description %>
</p>

<p>
	<strong>Submitter:</strong>
	<%= @project.submitter %>
</p>

<p>
	<strong>Project Length:</strong>
	<%= @project.length %>
</p>